@import "tailwindcss";

/* Enable dark mode variant */
@variant dark (&:is(.dark, .dark *));

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
