---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
---

<Layout title="Galih Pratama - Full-Stack Developer Portfolio">
	<main>
		<Hero />
		<ProjectsSection />
	</main>
</Layout>