---
// src/pages/contact.astro (VERIFY)
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects Galih Pratama">
  <main class="min-h-svh mx-auto max-w-7xl px-6 lg:px-8">
    <section class="relative py-24 sm:py-32 dark:bg-gray-900">
      <h1>Coming soon</h1>
    </section>
    <!-- <ContactSection /> -->
  </main>
</Layout>
